<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cŕeditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Quizzes</h1>
<pre>
<% for (var i =0; i<quizzes.length ; i++) {%>
<%= quizzes[i].question %>
<%  } %>
</pre>

</body>
</html>